[submodule "vim/pack/complete/start/autocomplete-popup"]
	path = vim/pack/complete/start/autocomplete-popup
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "vim/pack/filetype/start/latex-box"]
	path = vim/pack/filetype/start/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box
[submodule "vim/pack/interface/start/colorizer"]
	path = vim/pack/interface/start/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "vim/pack/filetype/start/html5"]
	path = vim/pack/filetype/start/html5
	url = https://github.com/othree/html5.vim
[submodule "vim/pack/interface/start/indentline"]
	path = vim/pack/interface/start/indentline
	url = https://github.com/Yggdroot/indentLine
[submodule "vim/pack/interface/start/nerdtree"]
	path = vim/pack/interface/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/command/start/tabular"]
	path = vim/pack/command/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pack/util/start/tlib"]
	path = vim/pack/util/start/tlib
	url = https://github.com/tomtom/tlib_vim
[submodule "vim/pack/complete/start/ultisnips"]
	path = vim/pack/complete/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/pack/command/start/vcoolor"]
	path = vim/pack/command/start/vcoolor
	url = https://github.com/KabbAmine/vCoolor.vim
[submodule "vim/pack/util/start/addon-mw-utils"]
	path = vim/pack/util/start/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "vim/pack/command/start/commentary"]
	path = vim/pack/command/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/interface/start/devicons"]
	path = vim/pack/interface/start/devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/pack/filetype/start/go"]
	path = vim/pack/filetype/start/go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/filetype/start/java"]
	path = vim/pack/filetype/start/java
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "vim/pack/filetype/start/javascript"]
	path = vim/pack/filetype/start/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/command/start/surround"]
	path = vim/pack/command/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/command/start/repeat"]
	path = vim/pack/command/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "oh-my-zsh/custom/plugins/tumult"]
	path = oh-my-zsh/custom/plugins/tumult
	url = https://github.com/unixorn/tumult.plugin.zsh
[submodule "vim/pack/complete/start/emmet"]
	path = vim/pack/complete/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/pack/complete/start/auto-pairs"]
	path = vim/pack/complete/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/pack/complete/start/vim-closetag"]
	path = vim/pack/complete/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "vim/pack/complete/start/jedi-vim"]
	path = vim/pack/complete/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
