@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');

* {
    padding: 0px;
    margin: 0px;
    font-family: "RobotoMono Nerd Font", "Roboto Mono", monospace;
}

body {
    background-color: #272727;
}

a {
    text-decoration: none;
}

#global-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-size: 4rem;
    font-weight: 400;
    color: #ffffff;
}

#clock-padding {
    height: 40px;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    height: auto;
    font-size: 4rem;
    font-weight: 200;
    color: #ffffff;
    background-color: #272727;
    border: solid 0px #272727;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

#bookmark-card-container {
    width: 60%;
    height: auto;
}

#greeting-description {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    #global-container {
        width: auto;
        height: auto;
    }
    #clock {
        font-size: 3rem;
        margin-top: 1em;
    }
    #bookmark-card-container {
        width: 80%;
    }
}

