@theme "gallery"

mainbox {
        children:               [ listview ];
}

listview {
        lines:                  4;
        columns:                3;
}

element {
        children:               [ element-icon ];
}
