@theme "gallery"

* {
        background:             #1d1f21;
        selection:              #282a2e;
}

mainbox {
        children:               [ listview ];
}

listview {
        lines:                  4;
        columns:                3;
}

element {
        children:               [ element-icon ];
}
