@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: #1d1f21;
}

a {
    text-decoration: none;
}

.card {
    transition: .2s ease background;
}

.card.borderless img {
    display: block;
    margin: auto;
    width: 100%;
}

#global-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-card-container {
    width: 70%;
    height: auto;
    margin-bottom: 64px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 300;
    margin: 1.5em 0em .5em 0em;
}

#logo {
    width: auto;
    height: 6rem;
    transition: .5s ease;
}

#logo.inverted, #logo:hover {
    filter: invert(100%);
}

#logo.inverted:hover {
    filter: invert(0%);
}

#github {
    font-size: 1rem;
    font-weight: 400;
    color: #81a2be;
}

#github:hover {
    color: #b294bb;
}

#wallpaper-link {
    margin-bottom: 2em;
}

.wallpaper-card {
    grid-column: span 4;
}

.wallpaper-card > a > img {
    display: inline-block;
    width: 100%;;
    margin: .1em;
}

@media only screen and (max-width: 700px) {
    #main-card-container {
        width: 100%;
    }
    #logo-container {
        font-size: 2rem;
        margin: 1em 0em .5em 0em;
    }
    .wallpaper-card {
        grid-column: 2/12;
    }
}
