@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: #1d1f21;
}

a {
    text-decoration: none;
}

#global-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-card-container {
    width: 70%;
    height: auto;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5em 0em 2em 0em;
}

#dotfiles {
    font-size: 3rem;
    font-weight: 300;
    color: #ffffff;
}

#github {
    font-size: 1rem;
    font-weight: 400;
    color: #81a2be;
}

#github:hover {
    color: #b294bb;
}

#main-card-container .card {
    border: none;
}

#main-card-container .card img {
    display: block;
    margin: auto;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    #main-card-container {
        width: 100%;
    }
    #logo-container {
        font-size: 2rem;
        margin: 1em 0em .5em 0em;
    }
}

